RewriteEngine on
RewriteCond $1 !^(index\.php|assets|uploads|documentation|robots\.txt|check_curl\.php|auto_fix_curl\.php|test\.php|curl\.php|phpinfo\.php)
RewriteRule ^(.*)$ index.php/$1 [L]
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]