
.main-idcard-report {
    width: 830px;
    margin: 5px auto;
    overflow: hidden;
}

.mainidcard {
    overflow: hidden;
}

.idcard-frontend {
    width: 324px;
    padding: 0px;
    overflow: hidden;
    margin: 0px auto;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #ddd;
    height: 204px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
}

.idcard-frontend-header {
    color: #000;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
}

.idcard-frontend-logo {
    float: left;
    width: 20%;
    padding: 10px;
}

.idcard-frontend-logo-img {
    width: 42px;
    height: 42px;
}

.idcard-frontend-title {
    width: 80%;
    float: left;
    padding: 10px;
    overflow: hidden;
    font-size: 16px;
    line-height: 16px;
    padding-top: 22px;
}

.idcard-frontend-body {
    text-align: left;
    padding: 8px;
    overflow: hidden;
}

.idcard-frontend-visiting-card {
    color: green;
    margin: 0px;
    font-size: 12px;
    text-align: center;
    padding-bottom: 4px;
}

.idcard-frontend-photo {
    width: 35%;
    float: left;
}

.idcard-frontend-photo-img {
    width: 74px;
    height: 74px;
}

.idcard-frontend-details {
    width: 65%;
    float: left;
    font-size: 12px;
}

.idcard-frontend-details p {
    margin: 0px;
    padding: 2px 0px;
    margin-bottom: 0px;
}

.idcard-frontend-details p span {
    color: blue;
}

.idcard-frontend-footer {
    width: 100%;
    float: left;
    bottom: 0px;
    overflow: hidden;
    position: absolute;
    margin-top: 5px;
}

.idcard-frontend-footerleft {
    width: 30%;
    float: left;
    padding: 4px;
    border-radius: 0px 15px;
}

.idcard-frontend-footerright {
    width: 60%;
    float: left;
    padding: 4px;
    margin-left: 30px;
    border-radius: 15px 0px;
}

.mainbg .idcard-frontend-header {
    background: #85CE36;
    color: #fff;
}

.mainbg .idcard-frontend-photo-img {
    border: 2px solid #85CE36;
}

.mainbg .idcard-frontend-footerleft {
    background: #85CE36;
}

.mainbg .idcard-frontend-footerright {
    background: #85CE36;
}

/*ID Card Report*/
.idcard-backend {
    width: 324px;
    padding: 10px;
    overflow: hidden;
    margin: 0px auto;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #ddd;
    height: 204px;
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
    position: relative;
}

.idcard-backend-item {
    font-size: 12px;
    text-align: left;
    padding: 5px 0px;
    overflow: hidden;
}

.idcard-backend-label {
    float: left;
    color: blue;
    width: 30%;
    font-weight: bold;
    display: inline-block;
}

.idcard-backend-value {
    float: left;
    width: 70%;
    display: inline-block;
}

.idcard-backend-address {
    font-weight: bold;
    text-align: center;
    position: absolute;
    bottom: 0px;
    padding-right: 10px;
}

.idcard-qrcode-img {
    width: 70px;
    height: 60px;
    margin: 0px auto;
    display: block;
}